.back-button {
  /* padding: 10px 15px; */
  border: none;
  border-radius: 5px;
  background-color: #0099cc;
  color: #fff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button:hover {
  background-color: #0099cc;
}
